<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>

    <style>
        .chatwindow{width: 60%;margin: 0 auto}
        .chatinput { background: #000; padding: 3px; position: fixed; bottom: 0; width: 60%; }
        .chatinput input { border: 0; padding: 10px; width: 88%; margin-right: .5%; }
        .chatinput button { width: 9%; background: #bbbbbb; border: none; padding: 9px; position: relative;top: 1px; cursor: pointer;}
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #messages { margin-bottom: 40px }
    </style>
</head>
<body>
    <div id="chat"></div>
</body>

<script type="text/babel">
    var socket = io();
    var ChatWindow = React.createClass({
        getInitialState: function() {
            return {
                num: 0,
                msg: ''
            };
        },

        componentWillMount:function () {
            // 判断是否登录；如果没登录则返回到登录页面
            if(!localStorage.userInfo){
                window.location.href = '/';
            }
        },

        componentDidMount:function () {
            var userInfo = JSON.parse(localStorage.userInfo);

            // 加入房间
            socket.emit('add_user',userInfo.username);

            // 获取新的消息
            socket.on('new_message', function(data){
//                console.log(data);
                var li = "<li>"
                    + data.user.username + ':'
                    + '<span>'+data.msgbody.msg+'</span>' + '<span style="float:right">'+data.msgbody.time+'</span>'+
                    "</li>";
                $('#messages').append(li);
                window.scrollTo(0, document.body.scrollHeight);
            });

            // 退出房间
            socket.emit('disconnect',userInfo.username);

            // 获取系统消息
            socket.on('system_msg',(data) => {
//                console.log(data);
                this.setState({
                    num:data.num,
                    msg:data.msg
                })
            });

            this.getMsg();
        },

        //页面渲染
        render: function() {
            return  <div>
                <div>当前房间人数：{this.state.num}</div>
                <div>广播：{this.state.msg}</div>
                <div className="chatwindow">
                    <ul id="messages"></ul>
                    <div className="chatinput">
                        <input id="msg" autocomplete="off" /><button onClick={this.sendMsg}>发送</button>
                    </div>
                </div>
            </div>;
        },

        //发送消息
        sendMsg:function () {
            var msg = $('#msg').val();
            var userInfo = JSON.parse(localStorage.userInfo);

            var data = {
                user:userInfo,
                msgbody:{
                    msg:msg,
                    time:getNowFormatDate(),
                    type:1
                }
            };
            socket.emit('new_message',data);
            $('#msg').val('');
        },

        // 获取历史消息
        getMsg:function () {

            // 请求路径
            var url = '/getMsg';
            // 请求数据
            var data = {
                type:1
            };

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: url,
                data: data,
                success: function (data) {
                    if(data.id == 0){
                        for(var i = 0;i<=data.msgBody.length - 1;i++){
                            var li = "<li>"
                                + data.msgBody[i].send_name + ':'
                                + '<span>'+data.msgBody[i].message_content+'</span>' + '<span style="float:right">'+data.msgBody[i].add_time+'</span>'+
                                "</li>";
                            $('#messages').append(li);
                            window.scrollTo(0, document.body.scrollHeight);
                        }
                    }else {
                        alert(data.msg)
                    }
                }
            })

        },

    });

    ReactDOM.render(
            <ChatWindow />, document.getElementById('chat')
    );

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }
</script>
</html>
